{% extends "v2/layout.html" %}
{% block head %}
{% load staticfiles %}
<title>AurorAI Package View</title>
<link rel="stylesheet" href="{% static 'plugins/bootstrap-slider/bootstrap-slider.css' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->
    
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
<!-- NVD3 Graphs -->
<script src="/static/dist/js/d3.js"></script>
<script src="/static/dist/js/crossfilter.js"></script>
<!--<script src="/static/dist/js/streamlayer.js"></script>-->
<script src="/static/dist/js/nv.d3.js"></script>
<link rel="stylesheet" href="{% static 'dist/css/nvd3.css' %}">
<script type="text/html" id="content_ractive">
   
        <!-- Info boxes -->
        
        {% verbatim %}
    <div class="row  border-bottom white-bg dashboard-header">
        
        <div class="col-md-4">
            <h2>{{package}} Visibility Dashboard</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Project Demo</a>
                </li>
                <li class="active">
                    <strong>Opex</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            
        </div>
        <div class="col-md-2 m-t-sm">
            <button on-click="loading_data:true" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Change Package</button>
        </div>
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated pulse">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-search modal-icon"></i>
                        <h4 class="modal-title">Choose Package</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="form-group"><label>Package:</label>
                            <select class="form-control m-b" name="package" value="{{selectedPackage}}">
                                {{#each package_list}}
                                <option value="{{.}}">{{.}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button on-click="loading_data:false" type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">See Package</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row m-sm">
        <div class="col-md-12">
            <div class="content content-wrapper">
                <button on-click="removeFilter:sub_package" type="button" class="btn btn-warning">Sub Package: {{filters.sub_package}}</button>
                <button on-click="removeFilter:vendor" type="button" class="btn btn-warning">Vendor: {{filters.vendor}}</button>
                <button on-click="removeFilter:package" type="button" class="btn btn-warning">Date: Today</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox" id="ibox1">
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <h5>Number of Transactions</h5>
                    <h1 class="no-margins">{{format(kpiValuesList['total_count'])}}</h1>
                    <div class="stat-percent font-bold text-navy">{{format(kpiValuesList['total_count']/kpiValuesListStick['total_count']*100)}} %<i class="fa fa-bolt"></i></div>
                    <small>Total Dataset - {{format(kpiValuesListStick['total_count'])}}</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <h5>Spend in Million</h5>
                    <h1 class="no-margins">{{format(kpiValuesList['total_sum'])}}</h1>
                    <div class="stat-percent font-bold text-navy">{{format(kpiValuesList['total_sum']/kpiValuesListStick['total_sum']*100)}}% <i class="fa fa-bolt"></i></div>
                    <small>Total Spend - {{format(kpiValuesListStick['total_sum'])}}</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <h5>Vendors</h5>
                    <h1 class="no-margins">{{format(kpiValuesList['vendor_count'])}}</h1>
                    <div class="stat-percent font-bold text-info">{{format(kpiValuesList['vendor_count']/kpiValuesListStick['vendor_count']*100)}}% <i class="fa fa-bolt"></i></div>
                    <small>Total Vendors - {{format(kpiValuesListStick['vendor_count'])}}</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <h5>GL Accounts</h5>
                    <h1 class="no-margins">{{format(kpiValuesList['gl_count'])}}</h1>
                    <div class="stat-percent font-bold text-danger">{{format(kpiValuesList['gl_count']/kpiValuesListStick['gl_count']*100)}}% <i class="fa fa-bolt"></i></div>
                    <small>Total GL Accounts - {{format(kpiValuesListStick['gl_count'])}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    Sub-Packages
                </div>
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="chart1" style="height:300px; width:100%">
                        <svg id="areaChart3" style="display:block; width:100%; height:100%; padding:0px"></svg>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                    <div class="ibox-title">
                        Vendors - Top 20 ( {{format(20/kpiValuesList['vendor_count']*100)}} %)
                    </div>
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="chart1" style="height:300px; width:100%">
                        <svg id="areaChart2" style="display:block; width:100%; height:100%; padding:0px"></svg>
                    </div>

                </div>
                    
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    Gl Accounts Lists - Top 20 ( {{format(20/kpiValuesList['gl_count']*100)}} %)
                </div>
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="scroll_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>{{#each tables['table_gl'].headers}}
                                    <th class="text-center">{{.}}</th>
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each tables['table_gl'].content:i}}
                                <tr>
                                    {{#each tables['table_gl'].content[i]:j}}
                                        {{#each tables['table_gl'].content[i][j]}}
                                        <!--<td class="text-center"><span class="pie" style="display: none;">0.5,0.5</span></td>-->
                                        <td {{#if j==="value"}} class ="text-center" {{/if}}>{{format(.)}}</td>
                                        {{/each}}
                                    {{/each}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    Functions
                </div>
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="chart1" style="height:200px; width:100%">
                        <svg id="areaChart1" style="display:block; width:100%; height:100%; padding:0px"></svg>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    Geography
                </div>
                <div class="ibox-content {{#if loading_data}} sk-loading {{/if}}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div id="world-map" style="height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    
            

                    <!-- /.box-header -->
                    
                    
        <!-- /.row -->
        {% endverbatim %}
       
   
    
</script>

<!-- Models to draw graphs, to be exported in separate .js -->
<script src="{% static 'dist/js/charts.js' %}"></script>
<script src="{% static 'plugins/bootstrap-slider/bootstrap-slider.js' %}"></script>
 <!-- Jvectormap -->
<script src="{% static 'v2/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'v2/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'v2/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- Data Models and Manipulation -->
<!--retrieving data from python : TO add API call/Ajax async load-->

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function dataCleaned(){
        //this.dataset = {}
        //$.ajaxSetup({
        //    beforeSend: function(xhr, settings) {
        //        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        //            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        //        }
        //    }
        //});
        //$.ajax({
        //    url: '/get_json_dataset',
        //    type: 'post',
        //    data: {
        //        table:'transactions',
        //        dimensions:['sub_package', 'vendor', 'gl'],
        //        filters: {package:'Sales'}
        //    },
        //    dataType: 'json',
        //    success: function (data) {
        //        console.log(JSON.parse(data.dataset))
        //        this.dataset = JSON.parse(data.dataset);
                
                
        //    }
        //});
        
        return {{data2|safe}}
    };
    
</script>
<<!-- Dataset Objects and functions-->
<script src="/static/dist/js/dataset.js"></script>
<script type="text/javascript">
    //initiating the dimensions for the view
    myds = new DataSet(dataCleaned());
    var ADash = new AuroraDash({
        dataset:myds
    });
    ADash.addChart('sub_package_chart', 'DiscreteBarChart', 'sub_package', 'sum', 'value', '#areaChart3', true);
    ADash.addChart('vendor_chart', 'DiscreteBarChart', 'vendor', 'sum', 'value', '#areaChart2', true);
    ADash.addChart('functions_chart', 'PieChart', 'vendor', 'sum', 'value', '#areaChart1', true);
    ADash.addKPI('total_sum','total', 'sum', 'value', 'millions', true);
    ADash.addKPI('total_count','total', 'sum', 'count', 'millions', true);
    ADash.addKPI('vendor_count','vendor', 'sum', 'count', 'millions', true);
    ADash.addKPI('gl_count','gl', 'sum', 'count', 'millions', true);
    ADash.addTable('table_gl', ['gl'], true);
    var ractive = new Ractive({
        // The `el` option can be a node, an ID, or a CSS selector.
        el: '.content',

        // We could pass in a string, but for the sake of convenience
        // we're passing the ID of the <script> tag above.
        template: '#content_ractive',

        // Here, we're passing in some initial data
        data: { 
            myDash:ADash,
            filters:{
                sub_package:'',
                vendor:''
            },
            kpiValuesListStick:ADash.kpiValues(),
            kpiValuesList:ADash.kpiValues,
            tables:ADash.refreshTables,
            loading_data:false,
            package_list: {{ package_list | safe }},
            package:"{{ package | safe }}",
            format: function ( num ) {
                if ( num > 1000000000 ) return ( num / 1000000000 ).toFixed( 1 ) + ' b';
                if ( num > 1000000 ) return ( num / 1000000 ).toFixed( 1 ) + ' m';
                if ( num > 1000 ) return (num / 1000 ).toFixed( 1 ) + ' k';
                if ( num > 0 ) return ( Math.round(num * 100) / 100);
                return num;
            }
        }
    });
    observer = ractive.observe( 'filters.*', function ( newValue, oldValue, keypath ) {
        if(newValue!==oldValue){
            ADash.refreshData(ractive);
        }
    });
    ractive.on( 'removeFilter', function ( event, dim ) {
        ractive.animate('filters.'+dim,'');
    });
    ractive.on('loading_data', function(event, value) {
        ractive.set('loading_data', value);
    });
</script>
<script type="text/javascript">
    var mapData = {
        "US": 298,
        "SA": 200,
        "DE": 220,
        "FR": 540,
        "CN": 120,
        "AU": 760,
        "BR": 550,
        "IN": 200,
        "GB": 120,
    };
    
    $('#world-map').vectorMap({
        map: 'world_mill_en',
        backgroundColor: "transparent",
        regionStyle: {
            initial: {
                fill: '#e4e4e4',
                "fill-opacity": 0.9,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 0
            }

        },

        series: {
            regions: [{
                values: mapData,
                scale: ["#1ab394", "#22d6b1"],
                normalizeFunction: 'polynomial'
            }]
        },
        onRegionTipShow: function(e, el, code){
            el.html(el.html()+' (Spend - '+mapData[code]+')');
        }
    });
    

    $(document).ready(function () {

        // Add slimscroll to element
        $('.scroll_content').slimscroll({
            height: '200px'
        })
        

    });

</script>
{% endblock %}